<p>Sign In !</p>
<form #signInForm='ngForm' (ngSubmit)="LoginUser(signInForm);" >
  <!-- #3rd way to Validation : using ngmodel variable -->
  <input type="email" name="email" ngModel required email #email='ngModel'><br>
  <small *ngIf="email.touched && !email.valid" >Enter valid Email<br></small>

  <input type="password" name="password" ngModel required #password='ngModel'><br>
  <small *ngIf="password.touched && !password.valid" >Enter valid Password<br></small>

  <!-- #2nd way to Validation : Disable submit -->
  <input type="submit" value="Sign In" class="btn btn-primary" [disabled]="!signInForm.valid">
</form>

