<h1 class="bg-primary">Welcome to {{ title }}</h1>

<app-tasks> </app-tasks>

List of Completed Tasks :<br>
<app-completed-tasks></app-completed-tasks><br>

<!-- Interpolation -->
Hello {{firstname}}

<!-- Property Binding -->
<div [ngStyle]='{color:"red"}'>hello from Property Binding</div>
<div [ngClass]="'txtClass'">hello from Property Binding</div><br>

<!-- Attrbute Binding -->
<span [attr.pattern]="'contrast'">Hello From Attribute Binding</span><br><br> <!--Here check code using inspect element you get <span> having attribute pattern with value contrast -->

<!-- Event Binding -->
<button (click)='eventFunction("Prmd1998")'>Event Button</button><br><br>

<!-- Two way data binding -->
Addd text : (view->component) : <input [(ngModel)]='txtVariable'/> <!--Here firstmodule is defined in app.compenent & text in textbox get assigned to firstname ie. view to component & in next line we print it using {{firstname}} ie. component to view-->    
<br>Show text : (component->view) : {{txtVariable}}  
<router-outlet></router-outlet>